<?xml version="1.0"?>
<!-- Log-Level hierarchy
ALL
DEBUG
INFO
WARN
ERROR
FATAL
OFF
-->
<configuration>
  <log4net>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file type="log4net.Util.PatternString" value="%property{FeLogPath}\debug\%property{LogMachine}_%property{LogHost}_frontend_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="256MB" />
      <staticLogFileName value="true" />
      <layout type="BaseService.App_Start.KwL4NCustomPatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %identity %type:%method - %message %newline
               %exception{message} - %exception{source} - %exception{stacktrace} - %exception{targetsite} - %exception{helplink} - %exception{data} %newline
               %kwStacktrace %newline" />
      </layout>
    </appender>

    <root>
      <!-- OFF, FATAL, ERROR, WARN, DEBUG, INFO, ALL -->
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="KwMainLogfile" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>

  </log4net>
</configuration>
